.features__block-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  margin: 22px 0 6px;
}

@media screen and (min-width: 1280px) {
  .features__block-title {
    font-size: 24px;
    line-height: 28px;
    margin: 21px 0 17px;
  }
}