.header {
  width: 100%;
  background-color: #1B2944;
  padding: 35px 0 0;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .header {
    padding-top: 41px;
  }
}