.footer__contact-content {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin: 13px 0 0 0;
}

@media screen and (min-width: 1280px) {
  .footer__contact-content {
    margin-top: 20px;
  }
}
