.section-title_place_footer {
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .section-title_place_footer{
    align-self: flex-start;
    margin-left: 168px;
    margin-top: 28px;
  }
}