.portfolio__content {
  width: calc(100% - 2*27px);
  display: flex;
  flex-direction: column;
  max-width: 267px;
  align-items: start;
}

@media screen and (min-width: 768px) {
  .portfolio__content {
    width: calc(100% - 2*70px);
  }
}

@media screen and (min-width: 1280px) {
  .portfolio__content {
     align-items: flex-start;
     max-width: 944px;
     justify-content: center;
  }
}