.gallery__picture {
  max-width: 126px;
  max-height: 126px;
  margin-right: 14px;
}

.gallery__picture:last-child {
  margin-right: 0;
}

@media screen and (min-width: 1280px) {
  .gallery__picture {
    margin: 0;
    max-width: 224px;
    max-height: 224px;
  }
}