.footer__content {
  width: calc(100% - 2*26px);
  max-width: 1280px;
}

@media screen and (min-width: 1280px) {
  .footer__content {
    width: calc(100% - 168px*2);
    display: flex;
    flex-direction: column;
  }
}