.footer__content {
  width: calc(100% - 2*26px);
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__content {
    max-width: 628px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__content {
    max-width: 944px;
    align-items: flex-start;
  }
}