.footer__content{
   width: calc(100% - 2*26px);
}

@media screen and (min-width: 1280px) {
  .footer__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 168px*2);
  }
}