.footer__contact-politic {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  display: block;
  color: #949494;
  margin: 26px 0 0;
  transition: opacity 0.3s ease;
  opacity: 1;
  }

  @media screen and (min-width: 1280px) {
    .footer__contact-politic {
      margin-top: 220px;
    }
  }

.footer__contact-politic:hover {
  opacity: 0.3;
}