.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-decoration: none;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.button:hover {
  opacity: 0.5;
}
