.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  text-decoration: none;
}
